includes:
    - phpstan-baseline.neon
parameters:
    level: 10
    paths:
        - src
        - test
    universalObjectCratesClasses:
        - Laminas\Stdlib\ArrayObject
    stubFiles:
        - stubs/Laminas/ServiceManager/Factory/AbstractFactoryInterface.stub
        - stubs/Laminas/ServiceManager/Factory/DelegatorFactoryInterface.stub
        - stubs/Laminas/ServiceManager/Factory/FactoryInterface.stub
        - stubs/Laminas/ServiceManager/Factory/InvokableFactory.stub
        - stubs/Laminas/ServiceManager/Initializer/InitializerInterface.stub
        - stubs/Psr/Container/ContainerInterface.stub
    treatPhpDocTypesAsCertain: false
    typeAliases:
        TracyConfig: 'array{enable?: bool, productionMode?: bool|null, showBar?: bool, reservedMemorySize?: int, strictMode?: bool|int, scream?: bool|int, maxDepth?: int, maxLength?: int, maxItems?: int, showLocation?: bool|null, keysToHide?: string[], dumpTheme?: string, logDirectory?: string|null, logSeverity?: int, email?: string|string[]|null, editor?: string|null, editorMapping?: array<string, string>, browser?: string|null, errorTemplate?: string|null, customCssFiles?: string[], customJsFiles?: string[]}'
